@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

.hide {
  display: none;
}

header {
  background-image: url("../imgs/header bg img.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
header nav .container {
  padding: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .container h2 {
  text-transform: lowercase;
}
header nav .container h2 span {
  display: inline-block;
  font-size: 48px;
  font-weight: bold;
  animation: wave 1.5s infinite ease-in-out;
}
header nav .container h2 {
  /* 🌊 animatsiya */
}
@keyframes wave {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
header nav .container h2 span:nth-child(1) {
  animation-delay: 0s;
}
header nav .container h2 span:nth-child(2) {
  animation-delay: 0.1s;
}
header nav .container h2 span:nth-child(3) {
  animation-delay: 0.2s;
}
header nav .container h2 span:nth-child(4) {
  animation-delay: 0.3s;
}
header nav .container h2 span:nth-child(5) {
  animation-delay: 0.4s;
}
header nav .container h2 span:nth-child(6) {
  animation-delay: 0.5s;
}
header nav .container h2 span:nth-child(7) {
  animation-delay: 0.6s;
}
header nav .container h2 span:nth-child(7) {
  animation-delay: 0.6s;
}
header nav .container h2 span:nth-child(7) {
  animation-delay: 0.6s;
}
header nav .container h2 span:nth-child(8) {
  animation-delay: 0.7s;
}
header nav .container h2 span:nth-child(9) {
  animation-delay: 0.8s;
}
header nav .container h2 span:nth-child(10) {
  animation-delay: 0.9s;
}
header nav .container ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
header nav .container ul li {
  position: relative;
  transition: all 0.3s ease;
}
header nav .container ul li::after {
  content: "";
  position: absolute;
  transition: all 0.3s ease;
  background-color: #043873;
  width: 0;
  height: 2px;
  left: 50%;
  transform: translate(-50%);
  bottom: -5px;
}
header nav .container ul li:hover::after {
  width: 100%;
}
header nav .container ul li select {
  border: none;
  outline: none;
  background-color: black;
  border: 1px solid red;
  color: white;
}
header nav .container .buttons button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #ffe492;
  color: #043873;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
header nav .container .buttons button:hover {
  transform: scale(1.1);
}
header nav .container .buttons button:active {
  transform: scale(0.9);
}
header nav .container .buttons button:nth-of-type(2) {
  background-color: #4f9cf9;
  color: white;
  margin-left: 20px;
}
header .hero .container {
  padding: 100px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .hero .container .card {
  width: 590px;
}
header .hero .container .card h1 {
  font-size: 40px;
  padding: 20px 0px;
}
header .hero .container .card button {
  padding: 10px 20px;
  margin-bottom: 10px;
  margin-top: 20px;
  background-color: #4f9cf9;
  color: white;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
}
header .hero .container .card button:hover {
  transform: scale(1.1);
}
header .hero .container .card button:active {
  transform: scale(0.9);
}
header .hero .container .card:nth-of-type(2) {
  width: 450px;
  position: relative;
  height: 450px;
}
header .hero .container .card:nth-of-type(2) img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
}
header .hero .container .card:nth-of-type(2) .backk {
  width: 450px;
  height: 324px;
  position: absolute;
  top: 98px;
  background-color: white;
  cursor: pointer;
}
header .hero .container .card:nth-of-type(2) .backk img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.s1 .container {
  padding: 50px 0px;
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.s1 .container .card {
  width: 500px;
}
.s1 .container .card h1 {
  font-size: 60px;
}
.s1 .container .card h1 span {
  text-shadow: 10px 10px 3px #ffe492;
}
.s1 .container .card p {
  line-height: 25px;
}
.s1 .container .card button {
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
  background-color: #4f9cf9;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
.s1 .container .card button:hover {
  transform: scale(1.1);
}
.s1 .container .card button:active {
  transform: scale(0.9);
}
.s1 .container .card img {
  width: 100%;
}

.s2 .container {
  padding: 100px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.s2 .container .card {
  width: 700px;
  position: relative;
  margin-left: 100px;
}
.s2 .container .card .logo {
  box-shadow: 0px 0px 5px;
  background-color: #043873;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.s2 .container .card .circle {
  width: 200px;
  height: 200px;
  border: 1px solid #043873;
  border-radius: 50%;
  position: absolute;
  left: -70px;
  top: -60px;
  margin-bottom: 50px;
  animation: rotate 6s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.s2 .container .card .circle span:nth-of-type(1) {
  width: 40px;
  height: 40px;
  background-color: #00ca75;
  position: absolute;
  border-radius: 50%;
  top: -16px;
  left: 80px;
}
.s2 .container .card .circle span:nth-of-type(2) {
  width: 40px;
  height: 40px;
  background-color: #4f9cf9;
  position: absolute;
  border-radius: 50%;
  top: 70px;
  left: -20px;
}
.s2 .container .card .circle span:nth-of-type(3) {
  width: 40px;
  height: 40px;
  background-color: #4f9cf9;
  position: absolute;
  border-radius: 50%;
  top: 70px;
  left: 175px;
}
.s2 .container .card .circle span:nth-of-type(4) {
  width: 40px;
  height: 40px;
  background-color: #ffbf60;
  position: absolute;
  border-radius: 50%;
  bottom: -16px;
  left: 80px;
}
.s2 .container .card .circlee {
  width: 300px;
  height: 300px;
  margin-bottom: 100px;
  border: 1px solid #043873;
  border-radius: 50%;
  position: absolute;
  top: -110px;
  left: -120px;
  animation: rotatee 6s linear infinite;
}
.s2 .container .card .circlee span:nth-of-type(1) {
  width: 40px;
  height: 40px;
  background-color: yellow;
  position: absolute;
  border-radius: 50%;
  top: -20px;
  left: 130px;
}
.s2 .container .card .circlee span:nth-of-type(2) {
  width: 40px;
  height: 40px;
  background-color: red;
  position: absolute;
  border-radius: 50%;
  top: 120px;
  left: -20px;
}
.s2 .container .card .circlee span:nth-of-type(3) {
  width: 40px;
  height: 40px;
  background-color: blue;
  position: absolute;
  border-radius: 50%;
  top: 120px;
  right: -20px;
}
.s2 .container .card .circlee span:nth-of-type(4) {
  width: 40px;
  height: 40px;
  background-color: green;
  position: absolute;
  border-radius: 50%;
  bottom: -20px;
  left: 130px;
}
@keyframes rotatee {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.s2 .container .card:nth-of-type(2) {
  width: 600px;
}
.s2 .container .card:nth-of-type(2) h1 {
  font-size: 60px;
  padding-bottom: 20px;
}
.s2 .container .card:nth-of-type(2) h1 span {
  text-shadow: 10px 10px 3px #ffe492;
}
.s2 .container .card:nth-of-type(2) p {
  line-height: 25px;
}
.s2 .container .card:nth-of-type(2) button {
  padding: 10px 20px;
  border: none;
  background-color: #4f9cf9;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
}

.s3 .container {
  padding: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.s3 .container .card {
  width: 500px;
}
.s3 .container .card h1 {
  font-size: 60px;
  padding-bottom: 20px;
}
.s3 .container .card h1 span {
  text-shadow: 10px 10px 3px #ffe492;
}
.s3 .container .card p {
  line-height: 25px;
  padding-bottom: 20px;
}
.s3 .container .card button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #4f9cf9;
  color: white;
  transition: all 0.3s ease;
  cursor: pointer;
}
.s3 .container .card button:hover {
  transform: scale(1.1);
}
.s3 .container .card button:active {
  transform: scale(0.9);
}
.s3 .container .card img {
  width: 100%;
}

.s4 .container {
  padding: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.s4 .container .card {
  width: 500px;
}
.s4 .container .card h1 {
  font-size: 50px;
}
.s4 .container .card h1 span {
  text-shadow: 10px 10px 2px #ffe492;
}
.s4 .container .card p {
  padding: 20px 0px;
  line-height: 25px;
}
.s4 .container .card button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4f9cf9;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
.s4 .container .card button:hover {
  transform: scale(1.1);
}
.s4 .container .card button:active {
  transform: scale(0.9);
}

.s5 .container {
  padding: 50px 0px;
}
.s5 .container .title {
  text-align: center;
}
.s5 .container .title h1 {
  font-size: 50px;
}
.s5 .container .title h1 span {
  text-shadow: 10px 10px 3px #ffe492;
}
.s5 .container .title p {
  padding: 20px 140px;
  line-height: 25px;
}
.s5 .container .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.s5 .container .box .card {
  width: 380px;
  border: 1px solid #ffbf60;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.s5 .container .box .card:hover {
  transform: scale(1.04);
  box-shadow: 0px 0px 20px 8px #ffe492;
}
.s5 .container .box .card:active {
  transform: scale(0.9);
}
.s5 .container .box .card p {
  font-weight: 800;
  padding: 20px 0px;
}
.s5 .container .box .card h2 {
  padding-bottom: 20px;
}
.s5 .container .box .card ul {
  line-height: 30px;
}
.s5 .container .box .card button {
  padding: 10px 20px;
  border: 1px solid #ffbf60;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}
.s5 .container .box .card button:hover {
  transform: scale(1.1);
}
.s5 .container .box .card button:active {
  transform: scale(0.9);
}
.s5 .container .box .card button {
  margin-top: 20px;
}
.s5 .container .box .card:nth-of-type(2) {
  width: 380px;
  border: 1px solid #ffbf60;
  padding: 40px 15px;
  border-radius: 10px;
  background-color: #043873;
  color: white;
}
.s5 .container .box .card:nth-of-type(2) p {
  font-weight: 800;
  padding: 20px 0px;
}
.s5 .container .box .card:nth-of-type(2) h2 {
  padding-bottom: 20px;
  color: #ffbf60;
}
.s5 .container .box .card:nth-of-type(2) ul {
  line-height: 30px;
}
.s5 .container .box .card:nth-of-type(2) button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4f9cf9;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
.s5 .container .box .card:nth-of-type(2) button:hover {
  transform: scale(1.1);
}
.s5 .container .box .card:nth-of-type(2) button:active {
  transform: scale(0.9);
}
.s5 .container .box .card:nth-of-type(2) button {
  margin-top: 20px;
}

.s6 {
  background-color: #043873;
}
.s6 .container {
  padding: 50px 0px;
  text-align: center;
  color: white;
}
.s6 .container h1 {
  font-size: 50px;
}
.s6 .container h1 span {
  text-shadow: 10px 10px 3px #4f9cf9;
}
.s6 .container p {
  line-height: 25px;
  padding: 20px 0px;
}
.s6 .container button {
  padding: 10px 20px;
  border: none;
  background-color: #4f9cf9;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.s6 .container button:hover {
  transform: scale(1.1);
}
.s6 .container button:active {
  transform: scale(0.9);
}

.s7 .container {
  padding: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.s7 .container .card {
  width: 600px;
}
.s7 .container .card img {
  width: 100%;
}
.s7 .container .card h1 {
  font-size: 50px;
}
.s7 .container .card h1 span {
  text-shadow: 10px 10px 1px #ffe492;
}
.s7 .container .card p {
  padding: 20px 0px;
  line-height: 25px;
}
.s7 .container .card button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4f9cf9;
  color: white;
  transition: all 0.3s ease;
  cursor: pointer;
}
.s7 .container .card button:hover {
  transform: scale(1.1);
}
.s7 .container .card button:active {
  transform: scale(0.9);
}

.s8 .container {
  padding: 50px 0px;
}
.s8 .container h1 {
  font-size: 50px;
  text-align: center;
}
.s8 .container h1 span {
  text-shadow: 10px 10px 3px #ffe492;
}
.s8 .container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0px;
}

.s9 {
  background-color: #043873;
}
.s9 .container {
  padding: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.s9 .container .card {
  width: 500px;
  color: white;
}
.s9 .container .card h1 {
  font-size: 50px;
}
.s9 .container .card p {
  padding: 20px 0px;
  line-height: 25px;
}
.s9 .container .card button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4f9cf9;
  color: white;
  transition: all 0.3s ease;
  cursor: pointer;
}
.s9 .container .card button:hover {
  transform: scale(1.1);
}
.s9 .container .card button:active {
  transform: scale(0.9);
}
.s9 .container .card img {
  width: 100%;
}

.s10 .container {
  padding: 50px 0px;
}
.s10 .container .title {
  text-align: center;
  padding: 30px 0px;
}
.s10 .container .title h1 {
  font-size: 50px;
}
.s10 .container .title h1 span {
  text-shadow: 10px 10px 3px #ffe492;
}
.s10 .container .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.s10 .container .box .card {
  width: 430px;
  box-shadow: 0px 0px 5px;
  border-radius: 10px;
  padding: 20px;
  color: #043873;
  cursor: pointer;
  transition: all 0.3s ease;
}
.s10 .container .box .card:hover {
  transform: scale(1.02);
  background-color: #4f9cf9;
  color: white;
}
.s10 .container .box .card h1 {
  font-size: 80px;
  padding-bottom: 20px;
}
.s10 .container .box .card p {
  padding: 20px 0px;
  line-height: 25px;
}
.s10 .container .box .card img {
  padding: 20px 0px;
}

.s11 {
  background-color: #043873;
}
.s11 .container {
  padding: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.s11 .container .card {
  width: 500px;
  text-align: center;
  padding: 20px;
  color: white;
}
.s11 .container .card h1 {
  font-size: 50px;
  padding: 10px 0px;
}
.s11 .container .card p {
  padding: 10px 0px;
}
.s11 .container .card button {
  padding: 10px 20px;
  border: none;
  background-color: #4f9cf9;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.s11 .container .card button:hover {
  transform: scale(1.1);
}
.s11 .container .card button:active {
  transform: scale(0.9);
}
.s11 .container .card .app {
  padding: 20px 0px;
}
.s11 .container .card .app i {
  font-size: 40px;
}

footer {
  background-color: #043873;
}
footer .container {
  padding: 50px 0px;
  color: white;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 40px;
}
footer .container ul {
  width: 300px;
  line-height: 30px;
}
footer .container ul li {
  position: relative;
  cursor: pointer;
}
footer .container ul li::after {
  content: "";
  position: absolute;
  transition: all 0.3s ease;
  background-color: white;
  left: 50%;
  transform: translate(-50%);
  width: 0;
  height: 2px;
  bottom: -5px;
}
footer .container ul li:hover::after {
  width: 100%;
}
footer .container ul li h3 {
  padding-bottom: 20px;
}
footer .container ul li button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4f9cf9;
  color: white;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-top: 20px;
}
footer .container ul li button:hover {
  transform: scale(1.1);
}
footer .container ul li button:active {
  transform: scale(0.9);
}/*# sourceMappingURL=main.css.map */